In [2]:
import pandas as pd

# Load the data from the CSV file
file_path = 'FuelSales.csv'
fuel_sales_data = pd.read_csv(file_path)

# Display the first few rows of the dataset
fuel_sales_data.head()

,FuelSaleID,PumpNumber,FuelType,PricePerUnit,Quantity,Timestamp,GrandTotal,PaymentMethod,YearMonth
0,700000001,6,Regular,2.53,8.6,2020-01-01 12:09:00,21.76,Amex,2020-01
1,700000002,3,Regular,2.72,13.6,2020-01-01 17:40:00,36.99,Check,2020-01
2,700000003,4,Premium,2.50,7.8,2020-01-01 12:01:00,19.50,Amex,2020-01
3,700000004,8,Diesel,2.16,3.5,2020-01-01 20:32:00,10.00,Mastercard,2020-01
4,700000005,1,Diesel,2.17,14.2,2020-01-01 22:45:00,30.81,Cash,2020-01

In [3]:
# Parse the 'Timestamp' column as datetime
fuel_sales_data['Timestamp'] = pd.to_datetime(fuel_sales_data['Timestamp'])

# Sort the data by 'Timestamp'
fuel_sales_data = fuel_sales_data.sort_values(by='Timestamp')

# Checking the data types and for any missing values
data_info = fuel_sales_data.info()
missing_values = fuel_sales_data.isnull().sum()

data_info, missing_values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14457 entries, 2 to 14453
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FuelSaleID     14457 non-null  int64
 1   PumpNumber     14457 non-null  int64
 2   FuelType       14457 non-null  object
 3   PricePerUnit   14457 non-null  float64
 4   Quantity       14457 non-null  float64
 5   Timestamp      14457 non-null  datetime64[ns]
 6   GrandTotal     14457 non-null  float64
 7   PaymentMethod  14457 non-null  object
 8   YearMonth      14457 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 1.1+ MB

(None,
 FuelSaleID       0
 PumpNumber       0
 FuelType         0
 PricePerUnit     0
 Quantity         0
 Timestamp        0
 GrandTotal       0
 PaymentMethod    0
 YearMonth        0
 dtype: int64)

In [4]:
# Parsing Dates, Sorting, and Handling Missing Values are already done previously
# Proceeding with Feature Engineering and Aggregation

# Feature Engineering: Extracting day of the week, month, and year from Timestamp
fuel_sales_data['DayOfWeek'] = fuel_sales_data['Timestamp'].dt.dayofweek
fuel_sales_data['Month'] = fuel_sales_data['Timestamp'].dt.month
fuel_sales_data['Year'] = fuel_sales_data['Timestamp'].dt.year

# Aggregating the data on a daily level for the 'GrandTotal'
# Assuming 'GrandTotal' is the target variable for forecasting
daily_sales_data = fuel_sales_data.groupby(fuel_sales_data['Timestamp'].dt.date).agg({
    'GrandTotal': 'sum',
    'Quantity': 'sum',
    'PricePerUnit': 'mean',  # Average price per unit for each day
    'DayOfWeek': 'first',    # Day of the week
    'Month': 'first',        # Month
    'Year': 'first'          # Year
}).reset_index()

# Renaming the 'Timestamp' column to 'Date' for clarity
daily_sales_data.rename(columns={'Timestamp': 'Date'}, inplace=True)

# Displaying the first few rows of the aggregated dataset
daily_sales_data.head()

         Date  GrandTotal  Quantity  PricePerUnit  DayOfWeek  Month  Year
0  2020-01-01      119.06      47.7      2.416000          2      1  2020
1  2020-01-02      190.20      77.3      2.413750          3      1  2020
2  2020-01-03      154.09      57.9      2.447000          4      1  2020
3  2020-01-04      204.84      75.6      2.682222          5      1  2020
4  2020-01-05      248.71      92.4      2.507143          6      1  2020

In [5]:
daily_sales_data.to_csv('preproccesed_fuel_data.csv')